@{
    ViewData["Title"] = "Punto de venta";
}
<br>
 <div class="container">
      <img src="~/img/Logo.png" id="logo" alt="" width="100%" height="90%">
 </div>
<br>
 <div class="text-center">
    <h1 class="display-4">Sistema de Venta</h1>
    <p>&copy; 2020 - JSRevolorio</p>
</div>
